<!DOCTYPE html>
<html>
<head>
  <title>Murrcs</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <script type="text/javascript">
$(document).ready(function() {
   // do stuff when DOM is ready; in our case hello world
 $("#hw").click(function() {
  alert("Hello world!");
 });


$("#list1, #list2").dragsort({ dragSelector: "div", dragBetween: true, dragEnd: saveOrder, placeHolderTemplate: "<li class='placeHolder'><div></div></li>" });

		function saveOrder() {
			var serialStr = "";
			$("#list1 li").each(function(i, elm) { serialStr += (i > 0 ? "|" : "") + $(elm).children().html(); });
			$("input[name=list1SortOrder]").val(serialStr);
		};
});


</script>


</head>
<body>

<%= yield %>

</body>
</html>
